# include README.md
include *.md

# include SAC files used for test
include tests/sac_files/*

# include template input file
include tests/input_files/*txt

# include test scripts
include tests/test*

# include environment.yml for conda
include environment*

# include example files to test Fortran sources
recursive-include dsmpy/src_f90/tish/example *
recursive-include dsmpy/src_f90/tipsv/example *

# include build.py to build the Fortran lib when using conda
include *.py

