# include README.md
include *.md

# include SAC files used for test
include tests/sac_files/*

# include template input file
include tests/input_files/*txt

# include test scripts
include tests/test*py

# include environment.yml for conda
include environment.yml
